.titre-description {
    text-align: center;
    margin: 15px;
    h1 {
        font-family: Cursive;
        font-size: 48px;
        font-weight: 400;    
    }//end h1
    p {
        font-family: fantasy;
    }   
}//end titre-description

//Mise en place des espaces blogs avec grid
@media all {
	#container {
		margin-top: 50px;
		display : grid;
		grid-gap: 2px;
		grid-template-columns: repeat(2, 320px);
		grid-template-rows: repeat(2, 320px);
		grid-auto-flow: row;
		text-align: center;
		align-content: center;
		justify-content: space-around;
	}
}



/*Description pour les écrans tablette en paysage page accueil*/
@media all and (max-width: 1000px) {
	#container {
		margin-top: 50px;
		display : grid;
		grid-gap: 5px;
		grid-template-columns: 320px;
		grid-template-rows: repeat(6, 320px);
		grid-auto-flow: row;
		align-content: center;
		align-items: center;
		justify-content: space-around;
	}

}



/*Jusqu’à 479px : smartphone en portrait
De 480px à 959px : smartphone en paysage, tablette en portrait et petite tablette en paysage
De 960px à 1280px : tablette en paysage, écran d’ordinateur de taille petite et moyenne
1281px et au delà : grand écran d’ordinateur (21″ et + en plein écran )*/

/*Description des block Jeux*/
.post-presentation {
	width: 300px;
	height: 300px;
	text-align: center;
	border: 2px solid black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family : cursive;
	color: black;
	border-radius: 5px;
}

/*.go {
	width : 50px;
	height: 25px;
	border-color: 1px solid black;
	border-radius: 5px;
}

.go:hover {
	width: 55px;
	height: 28px;
	-webkit-transition : 0.2s;
	color : blue;
}

*/