.contact-section {
    margin-top: 25px;

}

.part-left {
    float: left;
    width: 300px;
    margin: 25px;
}

.part-right {
    float: right;
    width: 350px;
    margin: 25px;
}

.form-control {
    width: 350px;
    height: 100px;
}
