//import site specific styles
@import "blog";
@import "header";
@import "footer";
@import "contact";
@import "page";
@import "post";

body {
    background-image: url('../assets/images/Raft-Giffre.JPG');
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 70% 25%;
    margin: 0;
    padding: 0;       
}

.main-content {
    width: 65%;
    float: right;
    background-color: #e3e3e3;
    padding-top: 25px;
    opacity: 0.8;
}
